body{
    margin-left: 0;
    margin: 0;
}

.imagen_4 img{
    margin-right: 100px;
    text-align: center;
    align-items: center;
    height: 350px;
    width: 760px;
}

.titulo_1{
    margin-left: 160px  ;
}

.parte_larga{
    margin-left: 160px;
}

.parte_larga2{
    margin-left: -80px;
}

.imagen_5 img{
    margin-right: 100px;
    text-align: center;
    align-items: center;
    height: 500px;
    width: 680px;
}


