*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
    background-color: #9EA94F ;
}

h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
}


.btnHeaderSup{

    .btn{
        color: white;
        background-color: #60712F;
    }
}

.icono img{
    width: 32px;
    height: 32px;
    
}





