*{
    margin: 0;
    padding: 0;
}

header{
    border: 3px black;
    width: 100%;
    height: 150px;
    background-color: #9EA94F ;
}

.headerSup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h1{
        text-align: center;
    }
}

.btnHeaderSup{
    margin: 20px;
}



