body{
    margin-left: 0;
    margin: 0;
}

.imagen_2 img{
    margin-right: 100px;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 600px;
}

.imagen_1 img{
    margin-right: 100px;
    text-align: center;
    align-items: center;
    height: 350px;
    width: 600px;
}

.titulo_2{
    margin-left: 140px;
}

.titulo_1{
    margin-left: 140px  ;
}
